# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle environent-specific configuration
config.gradle

# Ignore Gradle build output directory
build/

# Ignore Javac build output directory
bin/

# Ignore Eclipse .settings directory
.settings/

# Ignore Eclipse .classpath file
.classpath
