# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle environent-specific configuration
#config.gradle

# Ignore Gradle build output directory
build/

# Ignore Javac build output directory
bin/

# Ignore Eclipse .settings directory, and .classpath, .project files
.settings/
.classpath
.project
